.login_bg{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.login_form{
    height: 470px;
    width: 400px;
    background: linear-gradient(70deg,#b9bbbe, #FFFFFF);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.login_form *{
    font-family: 'Poppins',sans-serif;
    color: #343a40;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.login_form h2{
    color: #343a40;
    font-size: 36px;
    font-weight: 1000;
    line-height: 42px;
    text-align: center;
}

.login_label{
    font-weight: bold;
    display: block;
    margin-top: 30px;
    font-size: 16px;
}
.login_input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #343a40;
}
.login_button{
    margin-top: 30px;
    width: 100%;
    background: linear-gradient(70deg, #17a2b8, #7abaff);
    color: #FFFFFF;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 750;
    border-radius: 5px;
    cursor: pointer;
}