<div class = "modal fade" tabindex="-1" id="addSingModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 400px;">
                <div class="login_bg"></div>
                 <form class="login_form" action="login.php" method="post">
                    <h2>Login</h2>

                    <label class = "login_label" for="username">Username</label>
                    <input class="login_input" type="text" placeholder="name" id="username" name = "name" required>

                    <label class = "login_label" for="password">Password</label>
                    <input class = "login_input" type="password" placeholder="Password" name = "password" id="password" required>

                    <button class="login_button" type="submit" style="margin-top: 3rem">Log In</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>